<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">
	<beans>
		<context:property-placeholder
			ignore-resource-not-found="true" location="classpath:/application.properties" />
		<bean id="configProperties"
			class="org.springframework.beans.factory.config.PropertiesFactoryBean">
			<property name="locations">
				<list>
					<value>classpath:/application.properties</value>
				</list>
			</property>
		</bean>
	</beans>
<!-- 	<beans profile="dev"> -->
<!-- 		<context:property-placeholder -->
<!-- 			ignore-resource-not-found="true" location="classpath:/config/dev.properties" /> -->
<!-- 		<bean id="configProperties" -->
<!-- 			class="org.springframework.beans.factory.config.PropertiesFactoryBean"> -->
<!-- 			<property name="locations"> -->
<!-- 				<list> -->
<!-- 					<value>classpath:/config/dev.properties</value> -->
<!-- 				</list> -->
<!-- 			</property> -->
<!-- 		</bean> -->
<!-- 	</beans> -->
<!-- 	<beans profile="test"> -->
<!-- 		<context:property-placeholder -->
<!-- 			ignore-resource-not-found="true" location="classpath:/config/test.properties" /> -->
<!-- 		<bean id="configProperties" -->
<!-- 			class="org.springframework.beans.factory.config.PropertiesFactoryBean"> -->
<!-- 			<property name="locations"> -->
<!-- 				<list> -->
<!-- 					<value>classpath:/config/test.properties</value> -->
<!-- 				</list> -->
<!-- 			</property> -->
<!-- 		</bean> -->
<!-- 	</beans> -->
<!-- 	<beans profile="pro"> -->
<!-- 		<context:property-placeholder -->
<!-- 			ignore-resource-not-found="true" location="classpath:/config/prod.properties" /> -->
<!-- 		<bean id="configProperties" -->
<!-- 			class="org.springframework.beans.factory.config.PropertiesFactoryBean"> -->
<!-- 			<property name="locations"> -->
<!-- 				<list> -->
<!-- 					<value>classpath:/config/prod.properties</value> -->
<!-- 				</list> -->
<!-- 			</property> -->
<!-- 		</bean> -->
<!-- 	</beans> -->
	<beans>
		<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
			destroy-method="close">
			<property name="driverClass" value="${jdbc.driver}" />
			<property name="jdbcUrl" value="${jdbc.url}" />
			<property name="user" value="${jdbc.user}" />
			<property name="password" value="${jdbc.password}" />
			<property name="minPoolSize" value="10" />
			<property name="maxPoolSize" value="45" />
			<property name="initialPoolSize" value="20" />
		</bean>
		<bean id="dataSource1" class="com.mchange.v2.c3p0.ComboPooledDataSource"
			destroy-method="close">
			<property name="driverClass" value="${jdbc.driver1}" />
			<property name="jdbcUrl" value="${jdbc.url1}" />
			<property name="user" value="${jdbc.user1}" />
			<property name="password" value="${jdbc.password1}" />
			<property name="minPoolSize" value="10" />
			<property name="maxPoolSize" value="45" />
			<property name="initialPoolSize" value="20" />
		</bean>
	</beans>
</beans>